@import url("fontawesome-all.min.css");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400italic");


/* Reset Styles */
html, body, div, span, h1, h2, h3, p, a,
code, img, s, strong, ul, li, label, article, details,
footer, header, section, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* Block Elements */
article, details, footer, header, section {
	display: block;
}

/* Base Styles */
body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	margin: 0;
	font-family: "Source Sans Pro", Helvetica, sans-serif;
	font-size: 16pt;
	font-weight: 400;
	line-height: 1.75em;
	color: #868585;
	background-color: #f4f4f4;
	line-height: 1.6;
	scroll-behavior: smooth;
}

a {
	transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
	border-bottom: dotted 1px;
	color: #49bf9d;
	text-decoration: none;
}
	a:hover {
		border-bottom-color: transparent;
		color: #49bf9d;
		text-decoration: none;
	}

strong {
	color: #787878;
	font-weight: 400;
}

p {
	margin: 0 0 2em 0;
}

h1, h2, h3 {
	color: #787878;
	font-weight: 400;
	line-height: 1em;
	margin: 0 0 1em 0;
}

code {
	background: #f7f7f7;
	border-radius: 0.35em;
	border: solid 2px #efefef;
	font-family: "Courier New", monospace;
	font-size: 0.9em;
	margin: 0 0.25em;
	padding: 0.25em 0.65em;
}

/* Containers and Layouts */
.container {
	margin: 0 auto;
	max-width: calc(100% - 4em);
	width: 100%;
	overflow: hidden;
}

.row {
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
	margin-top: 0;
	margin-left: -2em;
}

.row > * {
	padding: 0 0 0 2em;
	width: 100%;
	box-sizing: border-box;
}

/* Main */
#main {
    margin-left: 25%;
    width: 75%;
    padding: 3em;
    background-color: #f4f4f4;
    overflow: auto;
	box-sizing: border-box;
	overflow: hidden;
}

/* Header */
#header {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	background-color: #1f1815;
	background-attachment: fixed;
	background-image: url("../../images/bg3.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 35% auto;
	color: rgba(255, 255, 255, 0.5);
	height: 100vh;
	left: 0;
	padding: 2em;
	position: fixed;
	text-align: center;
	top: 0;
	width: 25%;
	box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
	box-sizing: border-box;
	overflow: hidden;
}

#header .avatar {
	width: 200px;
	height: 200px;
	border-radius: 20%;
	object-fit: cover;
	margin-bottom: 20px;
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

/* Work Item */
.work-item {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	margin-bottom: 20px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}

.work-item:hover {
	box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.work-item img:hover {
	transform: scale(1.05);
	transition: transform 0.3s ease-in-out;
}

/* Projects Section */
.projects-grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	gap: 30px;
	padding: 20px;
}

.project-item {
	background: #fff;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	transition: box-shadow 0.3s ease-in-out;
}

.project-item img {
	width: 100%;
	border-radius: 10px;
	object-fit: cover;
}

.project-item:hover {
	box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Button */
.button {
	appearance: none;
	transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
	background-color: transparent;
	border-radius: 0.35em;
	border: solid 3px #efefef;
	color: #787878;
	cursor: pointer;
	display: inline-block;
	font-weight: 400;
	height: calc(2.75em + 6px);
	line-height: 2.75em;
	min-width: 10em;
	padding: 0 1.5em;
	text-align: center;
	text-decoration: none;
	white-space: nowrap;
}

.button:hover {
	border-color: #49bf9d;
	color: #49bf9d;
}

.button:active {
	background-color: rgba(73, 191, 157, 0.1);
	border-color: #49bf9d;
	color: #49bf9d;
}

/* Media Queries */
@media screen and (max-width: 1280px) {
	#header {
		padding: 6em 3em 3em 3em;
		width: 30%;
	}

	#main {
		margin-left: 30%;
		padding: 6em 3em;
		width: calc(100% - 30%);
	}
}

@media screen and (max-width: 980px) {
	#header {
		background-position: center;
		padding: 6em 4em;
		position: fixed;
		text-align: center;
		top: 0;
		width: 100%;
		display: block;
	}

	#main {
		margin: 0;
		padding: 6em 4em;
		width: 100%;
	}
}

@media screen and (max-width: 736px) {
	#header {
		padding: 2.25em 1.5em;
	}

	#main {
		padding: 2.25em 1.5em 0.25em 1.5em;
	}
} 

@media screen and (max-width: 480px) {
	#header {
		padding: 4.5em 1.5em;
	}
}

#footer {
    color: rgba(56, 122, 82, 0.992);
    text-align:center;
    padding: 1em;
    width: 100%;
	justify-content: center;
}
