@import url("fontawesome-all.min.css");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400italic");


/* Reset Styles */
html, body, div, span, h1, h2, h3, p, a,
code, img, s, strong, ul, li, label, article, details,
footer, header, section, video {
	margin: 0;
	padding: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	list-style: none;
}

/* Block Elements */
article, details, footer, header, section {
	display: block;
}

/* Base Styles */
body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	margin: 0;
	padding: 0;
	font-family: "Source Sans Pro", Helvetica, sans-serif;
	font-size: 13pt;
	font-weight: 400;
	line-height: 1.75em;
	color: #868585;
	background-color: #f4f4f4;
	line-height: 1.6;
	scroll-behavior: smooth;
	overflow-x: hidden;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a {
	transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
	color: #49bf9d;
	text-decoration: none;
}
	a:hover {
		border-bottom-color: transparent;
		color: #49bf9d;
		text-decoration: none;
	}

strong {
	color: #868585;
	font-weight: 400;
}

p {
	margin: 0 0 2em 0;
}

h1 {
	color: #d2cfcf;
	font-weight: 400;
	line-height: 1em;
	margin: 0 0 1em 0;
}

h2, h3 {
	color: #868585;
	font-weight: 400;
	line-height: 3em;
	margin: 0 0 0 0;
	font-size: 20pt;
}

code {
	background: #f7f7f7;
	border-radius: 0.35em;
	border: solid 2px #efefef;
	font-family: "Courier New", monospace;
	font-size: 0.9em;
	margin: 0 0.25em;
	padding: 0.25em 0.65em;
}

/* Containers and Layouts */
.container {
	flex: 1;
	margin: 0;
	padding: 0;
	max-width: 100%;
	width: 100%;
	overflow: hidden;
	position: relative;
}

.row {
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
	margin-top: 0;
	margin-left: -2em;
}

.row > * {
	padding: 0 0 0 2em;
	width: 100%;
	box-sizing: border-box;
}

/* Main */
#main {
    margin-left: 20%;
    width: 75%;
    background-color: #f4f4f4;
	box-sizing: border-box;
	overflow: hidden;
	padding: 2em;
	will-change: transform;
	transform: translateZ(0);
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
}

/* Header */
#header {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	background-attachment: fixed;
	background-image: url("../../images/bg3.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	color: #fff;
	height: 100vh;
	left: 0;
	padding: 2em;
	position: fixed;
	text-align: center;
	top: 0;
	width: 20%;
	box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
	box-sizing: border-box;
	overflow: hidden;
	font-size: 16pt;
	will-change: transform;
	transform: translateZ(0);
	backface-visibility: hidden;
	margin: 0;
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-perspective: 1000;
	-moz-perspective: 1000;
	-ms-perspective: 1000;
	perspective: 1000;
}

#header .avatar {
	width: 200px;
	height: 200px;
	border-radius: 20%;
	object-fit: cover;
	margin-bottom: 20px;
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

/* Work Item */
.work-item {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	margin-bottom: 20px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}

.work-item:hover {
	box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.work-item img:hover {
	transform: scale(1.05);
	transition: transform 0.3s ease-in-out;
}

/* Projects Section */
.projects-grid {
    display: flex;
    flex-direction: column;
    gap: 2em;
    padding: 10px;
}

.project-item {
    display: flex;
    align-items: center;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;
    max-width: 100%;
}

.project-item:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.project-thumbnail {
    width: 50%;
    position: relative;
    margin-right: 20px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.project-thumbnail::before {
    content: "";
    display: block;
    padding-bottom: 60%;
}

.project-thumbnail img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.project-content {
    flex: 1;
}

.project-content h3 {
    font-size: 1.5em;
    color: #868585;
	text-align: center;
}

.project-content p {
    font-size: .9em;
    color: #868585;
    line-height: 1.6em;
}

/* Contact Section */
.contact-container {
    max-width: 300px;
    margin-left: 40px;
}
.contact-info {
    list-style: none;
    padding: 0;
    margin: 0;
}
.contact-info li {
    display: flex;        
    align-items: center;  
    margin-bottom: 10px;  
}
.contact-info li i {
    margin-right: 10px;   
    font-size: 1.2em;     
    color: rgba(86, 141, 106, 0.992);
}
.contact-info .fa-mobile-alt {
    font-size: 1.5em;
}

.contact-info span,
.contact-info a {
    font-size: 1em;
    color: #868585;       
    text-decoration: none;
}

.blurred-number {
    filter: blur(4px);
    margin-left: 10px;
}
.blurred-number:hover {
    filter: none;
}

/* Button */
.button {
	appearance: none;
	transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
	background-color: transparent;
	border-radius: 0.35em;
	border: solid 3px #efefef;
	color: #787878;
	cursor: pointer;
	display: inline-block;
	font-weight: 400;
	height: calc(2.75em + 6px);
	line-height: 2.75em;
	min-width: 10em;
	padding: 0 1.5em;
	text-align: center;
	text-decoration: none;
	white-space: nowrap;
	border-color: rgb(103, 136, 107);
}

.button:hover {
	border-color: #49bf9d;
	color: #49bf9d;
}

.button:active {
	background-color: rgba(73, 191, 157, 0.1);
	border-color: #49bf9d;
	color: #49bf9d;
}

/* Modal Styles */
.modal {
    display: none; 
    position: fixed; 
    z-index: 1000;
    padding-top: 60px; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; 
    background-color: rgba(0, 0, 0, 0.5);
	
}

.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    position: relative;
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #ffffff;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #bbbbbb;
    text-decoration: none;
    cursor: pointer;
}

.swiper-container {
    width: 100%;
    height: 400px;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: rgba(0, 0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
	position: relative;
}

.swiper-slide img {
    max-width: 80%;
	max-height: 80hv;
	width: auto;
    height: auto;
	object-fit: cover;
    border-radius: 10px;
}

.slide-caption {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 5px;
    max-width: 80%;
    font-size: 1em;
    color: #fff;
}

/* Media Queries */
@media screen and (max-width: 1280px) {
	#header {
		padding: 6em 3em 3em 3em;
		width: 30%;
		background-size: cover;
	}

	#main {
		margin-left: 30%;
		padding: 6em 3em;
		width: calc(100% - 30%);
	}
}

@media screen and (max-width: 980px) {
	#header {
		background-position: center;
		background-size: cover;
		padding: 6em 4em;
		position: relative;
		text-align: center;
		top: 0;
		width: 100%;
		display: block;
		height: auto;
		min-height: 100vh;
	}

	#main {
		margin: 0;
		padding: 2em 1em;
		width: 100%;
	}
}

@media screen and (max-width: 736px) {
	#header {
		padding: 2.25em 1.5em;
		background-size: cover;
	}

	#main {
		padding: 2.25em 1.5em 0.25em 1.5em;
	}
	.projects-grid {
        padding: 10px;
        gap: 20px;
    }
    .project-item {
        flex-direction: column;
        text-align: center
    }

    .project-thumbnail {
        margin-right: 0;
        margin-bottom: 20px;
        width: 100%;
    }

    .project-content {
        width: 100%;
	}
} 

@media screen and (max-width: 480px) {
	#header {
		padding: 4.5em 1.5em;
	}
}

/* Footer */
#footer {
    color: rgba(56, 122, 82, 0.992);
    text-align: center;
    padding: 1em;
    width: 100%;
    margin: 0;
    background-color: #f4f4f4;
}